<!DOCTYPE html>
<head>
  <title>Localytics Scavenger Hunt 2014</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  <meta content='width=device-width' name='viewport'>
</head>
<body>
  <header>
    <div class='screen' id='logo'></div>
    <h1>
      <span class='print'>Localytics</span>
      Scavenger Hunt 2015
    </h1>
  </header>

  <%= @inner %>
  <footer>
    <%#<h2>Enjoy!</h2>%>
  </footer>
  <script src='//use.typekit.net/mgr1bnc.js'></script>
  <script>try { Typekit.load() } catch(e) {}</script>
  <script src="<%= static_path(@conn, "/js/zepto.min.js") %>"></script>
  <!-- I wrote this five years ago! hee hee -->
  <script src="<%= static_path(@conn, "/js/DSt.js") %>"></script>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  <script>
    $ = Zepto;
    $(function(){
      var setColor = function (elt) {
        var key = elt.innerHTML;
        if (DSt.get(key) == 1) {
          $(elt).addClass("selected");
        } else {
          $(elt).removeClass("selected");
        }
      };
      $("li > b").each(function(){ setColor(this); });

      var handleClick = function (event) {
        var elt = event.target;
        DSt.set(elt.innerHTML, $(elt).hasClass("selected") ? 0 : 1);
        setColor(elt);
      };
      $("li > b").on("click", handleClick);

    });


  </script>
</body>
</html>


