<section id="rides">
  <h1>Rides</h1>

  <%= for section <- Canobie.Rides.categories do %>
    <section>
      <h2><%= section[:name] %></h2>
      <%= for ride <- section[:rides] do %>
        <p>
          <input type="checkbox" class="task" id=<%= ride[:id] %>>
          <label for=<%= ride[:id] %>><%= ride[:name] %></label>
          <br>
          <%= ride[:desc] %>
      <% end %>
    </section>
  <% end %>
</section>

