<section id="comingsoon">
  <h2>Coming soon...</h2>


  <section id="coasters">
    <%= for c <- [%{ id: "yankee", name: "Yankee Cannonball" },
                  %{ id: "corkscrew", name: "Corkscrew" },
                  %{ id: "untamed", name: "Untamed" }] do %>
      <input type="checkbox" class="task" id=<%= c[:id] %>>
      <label for=<%= c[:id] %>><%= c[:name] %></label>
      <br>
    <% end %>
  </section>

</section>

